In [1]:
import pandas as pd

# Create the DataFrame with the given data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'],
    'Salary': [45000, 54000, 50000, 62000, 47000]
}

df = pd.DataFrame(data)

# a. Print the first five rows of the DataFrame
first_five_rows = df.head()
print("First Five rows of the DataFrame:")
print(first_five_rows)

# b. Get the summary statistics of the 'Age' and 'Salary' columns
summary_statistics = df[['Age', 'Salary']].describe()
print("\nSummary statistics of 'Age' and 'Salary':")
print(summary_statistics)

# c. Calculate the average salary of employees in the 'HR' department and add 'Bonus' column (10% of salary)
average_salary_hr = df[df['Department'] == 'HR']['Salary'].mean()
df['Bonus'] = df['Salary'] * 0.10

# 3. Filter the DataFrame to show employees aged between 25 and 30
filtered_by_age = df[(df['Age'] >= 25) & (df['Age'] <= 30)]
print("\nEmployees aged between 25 and 30:")
print(filtered_by_age)

# 4. Group the data by 'Department' and calculate the average salary for each department
avg_salary_by_dept = df.groupby('Department')['Salary'].mean()
print("\nAverage salary by department:")
print(avg_salary_by_dept)

# 5. Sort the DataFrame by 'Salary' in ascending order and save the result to a new CSV file
sorted_df = df.sort_values(by='Salary', ascending=True)
sorted_df.to_csv('sorted_employees.csv', index=False)
print("\nData sorted by salary and saved to 'sorted_employees.csv'")

First Five rows of the DataFrame:
      Name  Age Department  Salary
0    Alice   24         HR   45000
1      Bob   27    Finance   54000
2  Charlie   22         IT   50000
3    Diana   32  Marketing   62000
4      Eve   29         HR   47000

Summary statistics of 'Age' and 'Salary':
             Age        Salary
count   5.000000      5.000000
mean   26.800000  51600.000000
std     3.962323   6730.527468
min    22.000000  45000.000000
25%    24.000000  47000.000000
50%    27.000000  50000.000000
75%    29.000000  54000.000000
max    32.000000  62000.000000

Employees aged between 25 and 30:
  Name  Age Department  Salary   Bonus
1  Bob   27    Finance   54000  5400.0
4  Eve   29         HR   47000  4700.0

Average salary by department:
Department
Finance      54000.0
HR           46000.0
IT           50000.0
Marketing    62000.0
Name: Salary, dtype: float64

Data sorted by salary and saved to 'sorted_employees.csv'